.friend{
    display: flex;
    flex-direction: column;
}
.friend_box{
    position: relative;
    width: 100%;
    
}
.talk_room_link{
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: white;   
    position: relative; 
    border-bottom: #000 solid 1px;
}

.img{
    position: sticky;
    width:  6%;       
    height: 90%;       
    border-radius: 50%; 
    border: #000 solid 3px;
    left: 0;
    top: 0;
    margin: 3px 0 3px 3px;
}
.username{
    position: absolute;
    color: #000;
    font-weight: bold;
    top: 10px;
    left: 7%;
}
.time{
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #000;
}
.message{
    position: absolute;
    color: #000;
    left: 7%;
    bottom: 20px;
}

