.mes{
    display: flex;
    flex-direction: column;
}
.kousin{
    text-decoration: none;
    border: 2px gray solid;
    color: gray;
    position: absolute;
    right:3%;
    top:auto;
    padding: 3px;
}
.talk_aite_box{
    position: relative;
    width: 100%;
    border-bottom: solid black 2px ;
}
.message{
    position: sticky;
    max-width: 90%;
}
.time{
    position: absolute;
    right: 0;
    bottom: 3px;
}
.form_message{
    position: absolute;
    width: 100%;
    height: 1rem;
}