{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" /> -->
{% endblock %}

{% block title %}

{% endblock %}
{% block header-title %} 
    {% if token_fail %}不正トークン
    {% else %}パスワードリセット
    {% endif %}
{% endblock %}

{% block content %}
<div>
    {% if token_fail %}
    {% url 'account_reset_password' as password_reset_url %}
    <p>このパスワードリセット用リンクは無効になっています。<a href="{{password_reset_url}}">パスワードリセット再申請</a></p>
    {% else %}
    {% if form %}
    <form method="POST" action="{{action_url}}">
        {% csrf_token %}
        <button type="submit">変更</button>
    </form>
    {% else %}
    <p>パスワードは変更されています。</p>
    {%endif%}
    {%endif%}
</div>
{% endblock %}