{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" /> -->
{% endblock %}

{% block title %}

{% endblock %}
{% block header-title %}メールアドレス確認{% endblock %}

{% block content %}
<div class='container'>
    <form action='{% url "account_reset_password" %}' method='POST'>
        <h3>メールアドレスを確認してください。</h3>
        <p>確認のメールを送信しました。<br>
        メールに記載されたリンクをクリックして、ユーザー登録を完了させてください。</p>
    
    </form>
    </div>
    
{% endblock %}