{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
{% endblock %}

{% block title %}

{% endblock %}
{% block header-title %}友達{% endblock %}

{% block content %}
{% for friend, message,img,time in info %}
    <div class="friend">
        <div class="friend_box"></div>
            <a href="{% url 'talk_room' friend.id %}" name="{{friend}}" class="talk_room_link" >
                <!-- <img class="img" src="{{user_data.2}}" style="width:auto;height:auto">  -->
                {% if img %}
                <img src="{{img.url}}" class="img">
                {% else %}
                <img src="myapp/img/defalt_img.png" class="img">
                {% endif %}
                <div class="username">{{friend}}</div>
                <div class="time">{{time}}</div>
                <div class="message">{{message}}</div>    
            </a>
        </div>
    </div>
{% endfor %}
{% endblock %}