<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/myapp/css/index.css">
    <title>Index</title>
</head>
<body>
    <div class="btn_index">
        <div class="btn">
            <button onclick="location.href='login'" class="button1">ログイン</button>
        </div>
        <div class="btn">
            <button onclick="location.href='signup'" class="button2">会員登録</button>
        </div>
    </div>
</body>
</html>