<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/myapp/css/index.css">
    <title>Index</title>
</head>
<body>
    <div class="btn_index">
        <div class="btn">
            <a href="{% url 'account_login' %}" class="button1">ログイン</a>
        </div>
        <div class="btn">
            <a href="{% url 'account_signup' %}" class="button2">会員登録</a>
        </div>
    </div>
</body>
</html>